@mixin font
    font-family: 'Arial' , Helvetica, sans-serif
       
@font-face 
    font-family: 'fontMimos'
    src: url('BANANASP.TTF')

// Breakpoints
@mixin breakpoint($name) 
  @if $name == 'medium'
   @media (min-width: 768px) 
    @content
 
  @else if $name == 'large' 
    @media (min-width: 1600px)  
     @content

$one: #363636
$second: #FFEBF1
$third: #f47ab6 
$fourth: #ffff

body
    @include font
    line-height: 160%
    font-size: 16px
    color: $one
    margin: 0

body
    @include breakpoint (medium)
        font-size: 18px

.begin
    background-color: $second
    display: flex

.beginImg
    width: 50px
    padding: 8px

.beginImg
    @include breakpoint (medium)
        width: 120px

.beginImg
    @include breakpoint (large)
        width: 220px

.titleOne
    font-family: 'fontMimos'
    margin: auto
    color: $third
    font-size: 35px
    padding: 10px
    line-height: 0px
    margin-top: 10px

.titleOne
    @include breakpoint (medium)
        font-size: 55px
        padding: 30px
        line-height: 30px

.titleOne
    @include breakpoint (large)
        font-size: 125px
        padding: 80px

.personal
    @include font
    color: $one
    font-size: 25px
    margin-left: 17px

.personal
    @include breakpoint (medium)
        font-size: 40px
        margin: 5px 0 0 27px

.personal
    @include breakpoint (large)
        font-size: 85px
        margin: 70px 0 0 63px

.headerMenu
    width: 28px
    height: 22px
    padding: 3px 0
    cursor: pointer

.headerMenu 
    span
        width: 20px
        height: 2px
        background: $one
        display: block
        margin: 4px

////////////////////Modal/////////////////////////////////////////////
.modal[open]
    border: 0

.modalMedia
    img
        width: 50px

.modalTitle
    @include breakpoint (large)
        font-size: 40px
        margin: 30px 0 12px 0

.close-modal
    @include breakpoint (large)
        font-size: 22px

////////////////////Modal/////////////////////////////////////////////

.sectionCaneca, .sectionGift, .sectionSqueeze, .sectionPaper, .sectionInvite, .sectionShirt, .sectionMDF, .sectionPlanner
    margin: 30px 10px 30px 10px

.sectionCaneca, .sectionGift, .sectionSqueeze, .sectionPaper, .sectionInvite, .sectionShirt, .sectionMDF, .sectionPlanner
    @include breakpoint (medium)
        display: flex
        justify-content: center
        margin: 60px 15px 40px 15px

.sectionCaneca, .sectionGift, .sectionSqueeze, .sectionPaper, .sectionInvite, .sectionShirt, .sectionMDF, .sectionPlanner
    @include breakpoint (large)
        margin: 150px 30px 100px 30px

.backFirst, .backFirst1, .backFirst2, .backFirst3, .backFirst4, .backFirst5, .backFirst6
    width: 135px
    height: 135px
    background-color: $second
    border-radius: 50%
    margin: auto auto 15px auto
    img
        width: 115px
        padding: 8px

.backFirst, .backFirst1, .backFirst2, .backFirst3, .backFirst4, .backFirst5, .backFirst6
    @include breakpoint (medium)
        width: 200px
        height: 200px 
        margin: 0 80px 40px 15px
        img
            width:150px
            padding: 20px  

.backFirst, .backFirst1, .backFirst2, .backFirst3, .backFirst4, .backFirst5, .backFirst6
    @include breakpoint (large)
        width: 500px
        height: 500px 
        margin: 70px 80px 0 15px
        img
            width: 450px

.c
    cursor: pointer
       
#janelaModal
    display: none
    position: fixed
    z-index: 1
    // padding-top: 30px
    padding-top: 50%
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0,0.8)  
    /* overflow: auto   */

#imgModal
    margin: auto
    display: block
    width: 300px
    // height: 100
    max-width: 800px
    object-fit: cover
    text-align: center
    margin-top: auto
    margin-bottom: auto
    top: 50%                   
    transform: translate(0, -50%)
    

#imgModal
    @include breakpoint(medium)
        width: 540px
       
#imgModal
    @include breakpoint(large)
        width: 840px

#btFechar
    position: absolute
    top: 35px
    right: 35px
    color: #fff
    font-size: 30px
    font-weight: bold
    cursor: pointer

#btFechar
    @include breakpoint(medium)
        font-size: 40px

#btFechar
    @include breakpoint(large)
        font-size: 50px
        top: 45px

.textCaneca
    @include breakpoint (medium)
        max-width: 450px

.textCaneca
    @include breakpoint (large)
        max-width: 750px

.t
    display: flex
    justify-content: center

.title1 
    font-family: 'fontMimos'
    // margin: auto
    color: $third
    font-size: 35px
    padding-right: 5px
    line-height: 0px
    // margin-top: 10px
    text-align: center
    align-items: center

.title1 
    @include breakpoint (medium)
        font-size: 43px
        // padding: 15px 8px 30px 0
        // line-height: 30px

.title1 
    @include breakpoint (large)
        font-size: 80px
        // padding: 80px

.personal1
    @include font
    color: $one
    font-size: 23px
    text-align: center

.personal1
    @include breakpoint (medium)
        font-size: 30px
        margin-top: -15px
        padding-bottom: 10px

.personal1
    @include breakpoint (large)
        font-size: 60px
        // margin: 70px 0 0 63px

.titleS, .titleSqueeze, .titleIvite, .titleShirt, .titlePlanner, .titleFooter
    font-family: 'fontMimos'
    text-align: center
    margin: auto auto 15px auto
    color: $third
    font-size: 30px
    line-height: 2px
    display: flex
    justify-content: center

.titleS, .titleSqueeze, .titleIvite, .titleShirt, .titlePlanner, .titleFooter
    @include breakpoint(medium)
        display: flex
        font-size: 43px
        line-height: 0px

.titleS, .titleSqueeze, .titleIvite, .titleShirt, .titlePlanner, .titleFooter
    @include breakpoint(large)
        font-size: 80px

.personalOne, .personalTwo
    @include font
    color: $one 
    font-size: 20px
    text-align: center

.personalOne, .personalTwo
    @include breakpoint(medium)
        font-size: 30px
        // margin-left: 10px
        margin-top: -0.1px

.personalOne
    @include breakpoint(large)
        font-size: 60px

.textCanecaTwo
    @include breakpoint(medium)
        line-height: 30px
        font-size: 18px
        margin-left: 10px

.textCanecaTwo
    @include breakpoint(large)
        line-height: 70px
        font-size: 40px
        margin: 50px 0 0 20px

.mug, .gifts, .squeeze, .paperCard, .invite, .shirt, .mdf
    // align-itens: center
    text-align: center
    margin: 30px 10px 30px 10px
    display: grid
    grid-template-areas: "one two" "three four" "five six" 
    grid-template-columns: 49.5% 49.5%
    grid-gap: 10px 
    cursor: pointer
    p 
        font-weight: bold
        line-height: 20px
        padding: 8px
        margin-bottom: 5px

.mug, .gifts, .squeeze, .paperCard, .invite, .shirt, .mdf
    @include breakpoint (medium)
        margin: 40px 15px 40px 15px
        grid-template-columns: 32.3% 32.3% 32.3%
        grid-template-rows: 50% 50%
        font-size: 16px
        p
            font-size: 20px


.mug, .gifts, .squeeze, .paperCard, .invite, .shirt, .mdf
    @include breakpoint (large)
        margin: 0 80px 150px 80px
        grid-template-columns: 32.8% 32.8% 32.8%
        font-size: 35px
        p 
            line-height: 30px
            font-size: 30px
    
.card, .card2
  background: $fourth
  box-shadow: #c0b5b5 4px 4px 8px, #a59d9d -4px -4px 8px

.mugCer 
    width: 120px 
   
.mugCer
    @include breakpoint (medium)
        width: 130px 
        margin-top: 20px

.mugCer  
    @include breakpoint (large)
        width: 230px 
        margin-bottom: 20px

.mugJat, .giftMug, .cards, .badge, .champGlass, .ginGlass
    width: 90px
    margin-top: 10px

.mugJat
    @include breakpoint (medium)
        margin: 30px 0 8px 0

.mugJat, .candy, .calendar, .giftMug, .cards, .keychain, .badge, .souvenir, .longDrink, .partySupp, .champGlass, .ginGlass, .cupString, .maternSouvenir
    @include breakpoint (large)
        width: 180px
        margin: 20px 0 23px 0

.mugAcri
    width: 115px
    margin-top: 5px

.mugAcri
    @include breakpoint (medium)
        width: 125px
        margin: 23px 0 15px 0

.mugAcri, .calendar
    @include breakpoint (large)
        width: 230px
        margin-top: 23px

.mugAlum    
    width: 120px

.mugAlum
    @include breakpoint (medium)
        width: 130px
        margin-bottom: 10px

.mugAlum
    @include breakpoint (large)
        width: 230px
        margin-bottom: 22px
    
.mugPolim
    width: 98px
    padding: 20px 0 5px 0

.mugPolim
    @include breakpoint (medium)
       padding: 30px 0 15px 0

.mugPolim
    @include breakpoint (large)
       width: 180px 
       padding: 40px 0 25px 0

.mugTerm
    width: 100px

.mugTerm
    @include breakpoint (large)
       width: 180px 
       margin-bottom: 10px

.giftImg
    width: 100px !important
    padding: 10px !important

.giftImg
    @include breakpoint (medium)
        width: 150px !important
        padding: 10px !important

.giftImg
    @include breakpoint (large)
        width: 400px !important
        padding: 20px 10px 10px 40px !important

.gifts
    grid-template-areas: "one2 two2" "three2 four2" "five2 six2" "seven2 eight2" "nine2 ten2" "eleven2 twelve2" "thirteen2 fourteen2"
    p
        padding: 0
.gifts
    @include breakpoint(medium)
        grid-template-areas: "one2 two2 three2" "four2 five2 six2" "seven2 eight2 nine2" "ten2 eleven2 twelve2" "thirteen2 fourteen2 ."
        grid-template-rows: 20% 20% 20% 20% 20%
        margin-bottom: 60px

.gifts
    @include breakpoint(large)
        p
            padding: 50px

.bucket
    width: 115px

.bucket
    @include breakpoint (medium)
        width: 130px
        margin: 20px 0 20px 0

.bucket
    @include breakpoint (large)
        width: 250px
        margin: 20px 0 0 0

.candy
    margin-top: 20px
    width: 110px

.candy
    @include breakpoint (medium)
        width: 140px
        margin-bottom: 40px

.candy
    @include breakpoint (large)
        width: 290px
        margin: 40px 0 45px 0

.calendar
    width: 135px
    margin-top: 10px

.calendar
    @include breakpoint (medium)
        width: 170px
        margin: 20px 0 30px 0

.calendar
    @include breakpoint (large)
        width: 340px
        margin: 40px 0 20px 0

.giftMug
    @include breakpoint (medium)
        width: 130px
        margin: 15px 0 15px 0

.giftMug
    @include breakpoint (large)
        width: 240px
        margin: 20px 0 20px 0

.cards
    @include breakpoint (medium)
        width: 110px
        margin-top: 20px

.cards
    @include breakpoint (large)
        width: 220px
        margin: 0

.keychain
    width: 115px
    margin-top: 15px

.keychain
    @include breakpoint (medium)
        width: 130px

.keychain
    @include breakpoint (large)
        width: 240px
        margin-bottom: 1px

.badge
    @include breakpoint (medium)
        margin: 10px 0 0 0

.badge
    @include breakpoint (large)
        width: 140px
        margin-bottom: 7px

.souvenir
    width: 120px
    margin-bottom: 10px

.souvenir
    @include breakpoint (medium)
        margin-top: 10px

.souvenir
    @include breakpoint (large)
        width: 210px
        margin: 5px 0 5px 0

.longDrink
    width: 110px
    margin-top: 10px

.longDrink
    @include breakpoint (medium)
        width: 160px
        margin: 10px 0 0 0

.longDrink
    @include breakpoint (large)
        width: 260px

.partySupp
    width: 100px
    margin-top: 10px

.partySupp
    @include breakpoint (medium)
        width: 140px

.partySupp
    @include breakpoint (large)
        width: 240px

.champGlass
    @include breakpoint (medium)
        width: 130px
        margin-top: 15px

.champGlass
    @include breakpoint (large)
        width: 230px

.ginGlass
    @include breakpoint (medium)
        width: 120px
        margin-top: 0

.ginGlass
    @include breakpoint (large)
        width: 220px
        margin-bottom: 0

.cupString
    width: 100px
    margin-top: 15px

.cupString
    @include breakpoint (medium)
        width: 130px
        margin: 20px 0 10px 0

.cupString
    @include breakpoint (large)
        width: 230px
        margin: 30px 0 10px 0

.maternSouvenir
    width: 100px
    margin-top: 1px

.maternSouvenir
    @include breakpoint (medium)
        width: 130px
        margin-bottom: 15px

.maternSouvenir
    @include breakpoint (large)
        width: 230px
        margin-bottom: 15px

.sectionSqueeze
    @include breakpoint (medium)
        margin-top: 120px

.backFirst1
    img
        width: 95px
        padding: 16px

.backFirst1
    @include breakpoint (medium)
        img
            width: 140px

.backFirst1
    @include breakpoint (large)
        img
            width: 370px
            padding-left: 52px

.titleSqueeze
    display: block

.titleSqueeze
    @include breakpoint (medium)
        margin-top: 30px
        display: block
        line-height: 40px

.titleSqueeze
    @include breakpoint (large)
        margin-top: 150px

.squeeze
    @include breakpoint(large)
        p
            padding: 50px
.alumSqueeze
    width: 120px
    margin-top: 10px

.alumSqueeze
    @include breakpoint(medium)
        width: 130px

.alumSqueeze
    @include breakpoint(large)
        width: 220px

.towelSqueeze
    width: 120px

.towelSqueeze
    @include breakpoint(medium)
        width: 130px

.towelSqueeze
    @include breakpoint(large)
        width: 220px

.thermosBottle
    width: 120px
    margin-top: 10px

.thermosBottle
    @include breakpoint(medium)
        width: 127px

.thermosBottle
    @include breakpoint(large)
        width: 216px

.acquaSqueeze
    width: 110px
    margin-top: 5px

.acquaSqueeze
    @include breakpoint(medium)
        width: 125px

.acquaSqueeze
    @include breakpoint(large)
        width: 210px
        margin-top: 10px

.scholarSqueeze
    width: 110px
    margin-top: 10px

.scholarSqueeze
    @include breakpoint(medium)
        width: 125px
        
.scholarSqueeze
    @include breakpoint(large)
        width: 220px
        
.backFirst2
    img
        width: 105px

.backFirst2
    @include breakpoint(medium)
        img
            width: 160px
            padding: 5px

.backFirst2
    @include breakpoint(large)
        img
            width: 350px
            padding-left: 68px

.paperCard
    @include breakpoint(large)
        p
            padding: 30px

.inviteCard, .birthBox, .stickerCard, .birthItens, .cakeTop, .birthSouvenir
    width: 110px
    margin-top: 10px

.inviteCard, .birthBox, .stickerCard, .birthItens, .cakeTop, .birthSouvenir
    @include breakpoint(medium)
        width: 130px

.inviteCard, .birthBox, .stickerCard, .birthItens, .cakeTop, .birthSouvenir
    @include breakpoint(large)
        width: 230px
        margin-top: 20px

.inviteCard
    @include breakpoint(large)
        margin-bottom: 15px

.birthBox
   @include breakpoint(large)
        width: 240px

.stickerCard
   @include breakpoint(medium)
    margin: 15px 0 10px 0

.stickerCard
   @include breakpoint(large)
    margin: 40px 0 20px 0

.birthItens
    @include breakpoint(medium)
        margin: 20px 0 0 0

.cakeTop
    @include breakpoint(medium)
        margin: 17px 0 0 0

.birthSouvenir
    @include breakpoint(medium)
        margin: 20px 0 13px 0

.birthItens, .cakeTop, .birthSouvenir
    @include breakpoint(large)
        margin-top: 30px

.invite
    @include breakpoint(large)
        p
            padding: 40px

.titleIvite
    @include breakpoint(medium)
        margin-top: 10px

.titleIvite
    @include breakpoint(large)
        margin-top: 30px

.backFirst3
    img
        width: 90px
        padding: 20px 0 0 22px

.backFirst3
    @include breakpoint(medium)
        img
            width: 150px
            padding: 24px 0 0 30px

.backFirst3
    @include breakpoint(large)
        margin-top: 0
        img
            width: 320px
            padding: 78px 0 0 94px

.inviteBox, .inviteGlass, .inviteMug, .inviteCardd, .inviteTile
    width: 120px

.inviteBox
    width: 130px
    margin: 10px

.inviteBox
    @include breakpoint(medium)
        width: 150px
        margin: 10px

.inviteBox
    @include breakpoint(large)
        width: 280px
        margin: 10px

.inviteGlass
    @include breakpoint(medium)
        width: 140px

.inviteGlass
    @include breakpoint(large)
        width: 220px
        margin-top: 20px

.inviteMug
    width: 100px
    margin: 10px


.inviteMug
    @include breakpoint(medium)
        width: 140px

.inviteMug 
    @include breakpoint(large)
        width: 210px
        margin-top: 43px

.inviteCardd
    @include breakpoint(medium)
        width: 140px
        margin: 20px 0 10px 0

.inviteCardd
    @include breakpoint(large)
        width: 265px
       
.inviteTile
    width: 110px

.inviteTile
    @include breakpoint(medium)
        width: 120px
        margin: 20px 0 10px 0

.inviteTile
    @include breakpoint(large)
        width: 220px
       
.backFirst4
    img
        width: 115px
        padding: 10px 0 0 12px

.backFirst4
    @include breakpoint(medium)
        width: 215px
        height: 215px
        img
            width: 187px
            padding-right: 5px

.backFirst4
    @include breakpoint(large)
        width: 500px
        height: 500px
        img
            width: 390px
            padding: 45px 0 0 52px

.titleShirt
    display: block

.titleShirt
     @include breakpoint(medium)
        display: block
        line-height: 40px

.shirtBody, .shirtCushion, .shirtTribute, .shirtDaddy, .shirtUniform, .shirtTowel
    width: 120px

.shirtBody, .shirtCushion, .shirtTribute, .shirtDaddy, .shirtUniform, .shirtTowel
    @include breakpoint(medium)
        width: 150px

.shirtBody, .shirtCushion, .shirtTribute, .shirtDaddy, .shirtUniform, .shirtTowel
    @include breakpoint(large)
        width: 220px

.shirtCushion
    width: 130px
    margin-top: 20px

.shirtCushion
    @include breakpoint(medium)
        width: 170px

.shirtCushion
    @include breakpoint(large)
        width: 260px
        margin-top: 15px

.shirtTribute
    width: 130px
    margin-top: 14px

.shirtTribute
    @include breakpoint(medium)
        width: 170px
        margin-bottom: 7px

.shirtTribute
    @include breakpoint(large)
        width: 250px

.shirtDaddy, .shirtUniform
    margin-top: 10px

.shirtDaddy
    @include breakpoint(medium)
        margin: 20px 0 7px 0

.shirtTowel
   @include breakpoint(medium)
        margin-bottom: 9px 


.backFirst5
    img
        width: 120px
        padding: 25px 0 0 8px

.backFirst5
    @include breakpoint(medium)
        img
            width: 190px
            padding: 35px 0 0 8px

.backFirst5
    @include breakpoint(large)
        img
            width: 400px
            padding: 95px 0 0 48px

.personalTwo
    @include breakpoint(large)
        margin-left: 20px
        font-size: 60px

.mdfBox, .mdfPhone, .mdfPuzzle, .mdfPaint
    width: 130px
    margin-top: 20px

.mdfBox, .mdfPhone, .mdfPuzzle, .mdfPaint
    @include breakpoint(medium)
        width: 190px
        margin-top: 20px

.mdfBox, .mdfPhone, .mdfPuzzle, .mdfPaint
    @include breakpoint(large)
        width: 310px
        margin-top: 20px

.mdf
    @include breakpoint(medium)
        p
            padding: 5px

.mdf
    @include breakpoint(large)
        p
            padding: 40px
           
.puzzle
    @include breakpoint(medium)
        margin-top: -15px

.mdfPuzzle
    @include breakpoint(medium)
        width: 175px
        margin-top: 5px

.mdfPuzzle
    @include breakpoint(large)
        width: 260px
        margin-top: 15px

.mdfPaint
    width: 100px
    margin-top: 15px

.mdfPaint
    @include breakpoint(medium)
        width: 120px

.mdfPaint
    @include breakpoint(large)
        width: 190px

// Agendas com overflow
.backFirst6
    img
        width: 120px
        margin-top: 10px

.backFirst6
    @include breakpoint(medium)
        width: 210px
        height: 210px
        img
            width: 200px
            padding: 11px 15px 0 0

.backFirst6
    @include breakpoint(large)
        width: 500px
        height: 500px
        img
            width: 420px
            margin: 50px 0 0 15px

.titlePlanner
    display: block

.titlePlanner
    @include breakpoint(medium)
        display: block
        line-height: 40px

// Agendas com slides

.slidePlanner
    display: grid
    grid-template-areas: "one4" "two4" "three4" 
    grid-template-columns: 100%
    grid-gap: 10px
    margin: 30px 10px 30px 10px
    text-align: center

.slidePlanner
    @include breakpoint(medium)
        display: grid
        grid-template-areas: "one4 two4 three4" 
        grid-template-columns: 32.6% 32.6% 32.6%
        // grid-template-columns: 23.30% 23.30% 23.30%
        grid-gap: 15px
        margin: 40px 25px 40px 15px
        
.slideshow-container, .slideshow-container2, .slideshow-container3
    text-align: center
    align-items: center
    img
        width: 150px
        height: 150px
        object-fit: contain
        align-content: center
        align-items: center
        cursor: pointer

.slideshow-container, .slideshow-container2, .slideshow-container3
  @include breakpoint(medium)
    img
        width: 220px
        height: 220px  

.slideshow-container, .slideshow-container2, .slideshow-container3
  @include breakpoint(large)
    img
        width: 330px
        height: 330px 

.mySlides 
  display: none
  cursor: pointer

.card2
  box-shadow: #a59d9d -4px -4px 8px

// .slideOne
//     margin-top: 15px 
//     width: 140px 

.slideOne
    @include breakpoint(medium)
        margin-top: 15px 
        width: 210px !important
        height: 206px !important

.slideOne
    @include breakpoint(large)
        margin-top: 15px 
        width: 311px !important
        height: 314px !important

.prevNext
   position: relative 

.prev, .next 
  cursor: pointer
  position: absolute
  top: 50%
  width: auto
  margin-top: -162px
  padding: 16px
  font-weight: bold
  font-size: 18px
  transition: 0.6s ease
  border-radius: 0 3px 3px 0
  user-select: none

.prev, .next 
    @include breakpoint(large)
        margin-top: -262px
        font-size: 30px

.prev
  color: $third
  left: 2px

.next 
  right: 0
  border-radius: 3px 0 0 3px
  color: $third

.prev:hover, .next:hover 
  background-color: rgb(183 175 175 / 80%)

.text, .text3
  font-size: 15px
  padding: 8px 12px
  width: 100%
  text-align: center
  margin-bottom: 18px

.text, .text3
    @include breakpoint(large)
        font-size: 30px

.numbertext 
  font-size: 12px
  padding: 0 12px
  text-align: left

.numbertext 
    @include breakpoint(large)
        font-size: 25px

.dot 
  cursor: pointer
  height: 15px
  width: 15px
  margin: 10px 2px
  background-color: #bbb
  border-radius: 50%
  display: inline-block
  transition: background-color 0.6s ease

.active
  background-color: $third

// .active, .dot:hover 
// //   background-color: #717171
// //   background-color: $third
//   background-color: #f47ab6

.fade 
  -webkit-animation-name: fade
  -webkit-animation-duration: 1.5s
  animation-name: fade
  animation-duration: 1.5s

.dotSlide
    text-align: center

// .slide2, .slide3
//     img
//         width: 150px
//         height: 160px
//         margin: 10px 0 10px 10px

// .slideshow-container3
//     img
//         margin-bottom: 25px

.dot2, .dot3
  cursor: pointer
  height: 15px
  width: 15px
  margin: 10px 2px
  background-color: #bbb
  border-radius: 50%
  display: inline-block
  transition: background-color 0.6s ease

// .active2, .dot2:hover 
//     background-color: #717171

// .text3
//     margin-bottom: 10px

.scheduleSlide
    width: 170px !important

.scheduleSlide
    @include breakpoint(medium)
        width: 210px !important

.scheduleSlide
    @include breakpoint(large)
        width: 340px !important

.dot3
    // width: 45px
    margin: 0

.active2, .dot3:hover
    background-color: $third  

.footerSection
    background-color: $second
    // display: flex

.footerSubtitle
    padding-top: 30px 

.footerSubtitle
    @include breakpoint(medium)
        padding-top: 40px

.footerSubtitle
    @include breakpoint(large)
        padding-top: 80px

.footerOrganize
    margin: 30px 0 0 10px
    padding-bottom: 10px
    ul
        cursor: pointer
    li 
        list-style: none
    a 
        text-decoration: none
        color: $one

.footerOrganize
    @include breakpoint(medium)
        display: flex
        margin: 60px 0 0 15px
        justify-content: center

.footerOrganize
    @include breakpoint(large)
        line-height: 70px
        font-size: 40px
        margin: 100px 0 0 30px

.socialTitle
    text-align: center
    font-weight: bold

.products
    font-weight: bold
    cursor: auto

.socialOrganize
    display: flex
    justify-content: center

.footerColumn
    margin-right: 70px
    li
        list-style: none

.socialMedia
    @include breakpoint(large)
        img 
            width: 60px


// .img-container
//    width: 300px
//    height: 200px
//    overflow: hidden
//    border: 2px solid #000


// .img-container img
//    width: 100%
//    height: 100%
//    -webkit-transition: -webkit-transform .5s ease
//    transition: transform .5s ease


// .img-container:hover img
//    -webkit-transform: scale(1.1)
//    transform: scale(1.1)


