@mixin font
    font-family: 'Arial' , Helvetica, sans-serif
       
@font-face 
    font-family: 'fontMimos'
    src: url('BANANASP.TTF')

// Breakpoints
@mixin breakpoint($name) 
  @if $name == 'medium'
   @media (min-width: 768px) 
    @content
 
  @else if $name == 'large' 
    @media (min-width: 1600px)  
     @content

$one: #363636
$second: #FFEBF1
$third: #f47ab6 
$fourth: #ffff

body
    @include font
    line-height: 160%
    font-size: 16px
    color: $one
    margin: 0

body
    @include breakpoint (medium)
        font-size: 18px

.begin
    background-color: $second
    display: flex
    img
        width: 50px
        padding: 8px

.begin
    @include breakpoint (medium)
        img
            width: 120px

.begin
    @include breakpoint (large)
        img
            width: 220px

.titleOne
    font-family: 'fontMimos'
    margin: auto
    color: $third
    font-size: 35px
    padding: 10px
    line-height: 20px

.titleOne
    @include breakpoint (medium)
        font-size: 55px
        padding: 30px

.titleOne
    @include breakpoint (large)
        font-size: 125px
        padding: 80px

.personal
    @include font
    color: $one
    font-size: 25px
    margin-left: 17px

.personal
    @include breakpoint (medium)
        font-size: 40px
        margin: 5px 0 0 25px

.personal
    @include breakpoint (large)
        font-size: 85px
        margin: 40px 0 0 63px

.sectionCaneca
    margin: 30px 10px 30px 10px

.sectionCaneca
    @include breakpoint (medium)
        display: flex
        justify-content: center
        margin: 40px 15px 40px 15px

.sectionCaneca
    @include breakpoint (large)
        margin: 150px 30px 100px 30px

.backFirst
    width: 135px
    height: 135px
    background-color: $second
    border-radius: 50%
    margin: auto auto 15px auto
    img
        width: 115px
        padding: 8px

.backFirst
    @include breakpoint (medium)
        width: 200px
        height: 200px 
        margin: 0 80px 40px 15px
        img
            width:150px
            padding: 20px  

.backFirst
    @include breakpoint (large)
        width: 500px
        height: 500px 
        margin: 70px 80px 0 15px
        img
            width: 450px

.textCaneca
    @include breakpoint (medium)
        max-width: 450px

.textCaneca
    @include breakpoint (large)
        max-width: 750px
    
.titleS
    font-family: 'fontMimos'
    text-align: center
    margin: auto auto 15px auto
    color: $third
    font-size: 30px
    line-height: 25px

@include breakpoint(medium)
    .titleS
        display: flex
        font-size: 43px

@include breakpoint(large)
    .titleS
        font-size: 80px

.personalOne
    @include font
    color: $one 
    font-size: 20px
    text-align: center

.personalOne
    @include breakpoint(medium)
        font-size: 30px
        margin-left: 10px
        margin-top: -0.1px

.personalOne
    @include breakpoint(large)
        font-size: 60px

.textCanecaTwo
    @include breakpoint(medium)
        line-height: 30px
        font-size: 18px

.textCanecaTwo
    @include breakpoint(large)
        line-height: 70px
        font-size: 40px
        margin: 50px 0 0 20px

.mug
    // align-itens: center
    text-align: center
    margin: 30px 10px 30px 10px
    display: grid
    grid-template-areas: "one two" "three four" "five six" 
    grid-template-columns: 49.5% 49.5%
    grid-gap: 10px 
    p 
        font-weight: bold
        line-height: 20px
        padding: 8px
        margin-bottom: 5px

.mug
    @include breakpoint (medium)
        margin: 40px 15px 40px 15px
        grid-template-columns: 32.3% 32.3% 32.3%
        grid-template-rows: 50% 50%
        font-size: 16px

.mug
    @include breakpoint (large)
        margin: 0 30px 150px 30px
        grid-template-columns: 32.8% 32.8% 32.8%
        font-size: 35px
        p 
            line-height: 30px
    
.card 
  background: $fourth
  box-shadow: #c0b5b5 4px 4px 8px, #a59d9d -4px -4px 8px

.mugCer 
    width: 120px 
   
.mugCer 
    @include breakpoint (medium)
        width: 130px 
        margin-top: 20px

.mugCer 
    @include breakpoint (large)
        width: 230px 
        margin-bottom: 20px

.mugJat
    width: 90px
    margin-top: 10px

.mugJat
    @include breakpoint (medium)
        margin: 30px 0 8px 0

.mugJat
    @include breakpoint (large)
        width: 180px
        margin: 20px 0 23px 0

.mugAcri
    width: 115px
    margin-top: 5px

.mugAcri
    @include breakpoint (medium)
        width: 125px
        margin: 23px 0 15px 0

.mugAcri
    @include breakpoint (large)
        width: 230px
        margin-top: 23px

.mugAlum    
    width: 120px

.mugAlum
    @include breakpoint (medium)
        width: 130px
        margin-bottom: 10px

.mugAlum
    @include breakpoint (large)
        width: 230px
        margin-bottom: 22px
    
.mugPolim
    width: 98px
    padding: 20px 0 5px 0

.mugPolim
    @include breakpoint (medium)
       padding: 30px 0 15px 0

.mugPolim
    @include breakpoint (large)
       width: 180px 
       padding: 40px 0 25px 0

.mugTerm
    width: 100px

.mugTerm
    @include breakpoint (large)
       width: 180px 
       margin-bottom: 10px
